

.position-center-x { left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.position-center-y { top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.my-button-disable {
  pointer-events: none;
  cursor: no-drop;
  opacity: 0.7;
}

.bg-gradient-primary {
  background-image: linear-gradient(45deg, #153e4e 0%, #49919b 60%, #153e4e 100%) !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;